body{
    color:beige;
    background-color:darkgreen;
    font-family: "Poetsen One", sans-serif;
    margin:0px;
}

header{
    border-bottom: solid 2px rgb(22, 106, 218);
    padding: 20px;
    font-size: 30px;
}
HEAD

h1{
color: rgb(225, 228, 233)
}

p{
color:rgb(22, 106, 218)
}

section {
background: rgb(184, 156, 213);
padding-bottom: 80px;
    	padding-top: 80px;
        display: flex;
        justify-content: center;
}
