body{
    color:beige;
    background-color:darkgreen;
    font-family: "Poetsen One", sans-serif;
    margin:0px;
}

header{
    border-bottom: solid 2px rgb(79, 149, 240);
    padding: 20px;
}